body {
  margin: 0px;
}

#navbar {

  display: flex;
  justify-content: space-between;
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}

#navbar>div {
  width: 28%;
  color: white;
}

#logo>img {
  width: 30%;
  height: 4rem;
}

#pages>ul{
  list-style: none;
}
#pages>ul>li{
  display: block;
	float: left;
  margin-left: 15px;
}
#pages a{
  text-decoration: none;
  color: white;
}

#pages,#elements {
  display: flex;
  align-items: center;
  justify-content: center;

}


#elements>i {
  margin: 10px;
}

#search {
  width: 60%;
  height: 2rem;
  border-radius: 20px;
  padding: 0px 5px;
  font-size: 1rem;
}

#footer {
  margin-top: 5rem;

  color: white;
  background-color: black;
}

#footer_body {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

#footer_body>div {
  width: 15%;
}

#footer_body>div:first-child {
  width: 35%;
}

#flogo {
  width: 30%;
  margin-left: -1rem;
}

#sub_sec {
  border: 0.5px solid white;
  width: 90%;
  padding: 5px;
}

#sub_sec>input {
  padding: 10px 15px;
  width: 55%;
  font-size: 1rem;
  background-color: black;
  border-width: 0px;
  border: none;
  outline: none;
  color: whitesmoke;
}

#sub_sec>button {
  padding: 15px 40px;
  background-color: red;
  border: none;
  color: white;
}

#social_media {
  margin-top: 5px;
  width: 70%;
  display: flex;
  justify-content: space-around;
}

#social_media>i {
   /* z-index: 2; */
  padding: 20px;
  /* position: relative; */
  transition: all .35s;
  color: blue;
}


#social_media>i:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:rgb(255, 255, 255) ;
    transition: all .35s;
    color: black;
  }
  #social_media>i:hover{
    color: rgb(0, 0, 0);
    /* display: block; */
   
  }
  
  #social_media>i:hover:after{
    width: 100%;
    color: black;
    /* display: block; */
  }

  #menu{
    width: 96%;
    height: auto;
    position: relative;
    top: 0;
    margin-top: 4.2rem;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 10px 2%;
   justify-content: center;
   row-gap: 2%;
  
   z-index: 1;
   
  }


   .menu_box{
    cursor: pointer;
     
  }
  
   .menu_box>img{
    width: 100%;
    height: 25vh;
    object-fit: contain;
  
  } 
  .menu_box:hover{
  filter: brightness(70%);
  transition: all 0.3s;
  }
  
 